@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


// Var section
@background-dark: #1A2032;
@background-light: #FBFAF7;
@font-dark: @background-dark;
@font-light: @background-light;
@font-accent: #4679CE;

html                            {scroll-behavior: smooth;}

body                            { transition: 0.25s; max-width: 100%; overflow-x: hidden; font-family: 'Cabin', sans-serif; background: @background-light; color: @font-dark; margin: 0; padding: 0;
    &.dark-body                 { transition: 0.25s; background: @background-dark; color: @font-light !important; 
        a                       { color: @font-light !important;  }
    }
}

.modal-overlay                  { transition: .25s; position: fixed; display: none; width: 100vw; height: 115vh; margin-top: -10vh; background: black; opacity: 0.35; z-index: 1000;}
.custom-modal                   { transition: .25s; margin-top: 1rem; position: fixed; display: none; z-index: 10000;  border-radius: 5px; background: @background-light; width: 95vw; height:95vh; left: 50%; transform: translate(-50%, 0);
   .modal-wrapper               { width: 100%; height: 100%;display: flex; justify-content: space-between; align-items: center; flex-direction: column;
    .row-close                  { display: flex; justify-content: flex-end; align-items: center; width: 90%; margin: 0 auto;
        .close-btn              { transition: .25s; border: solid black 2px; border-radius: 5px; padding: 0 .5rem; margin-bottom: 1rem; cursor: pointer;
            &:hover             { transition: .25s; background-color: black; color: white;}
        }
    }
    .row-lead                   { width: 86%; display: flex; justify-content: flex-start; align-items: center;  margin: 0 auto;
        .lead                   { display: flex; justify-content: space-between; flex-direction: column; align-items: flex-start; margin-top: 1rem;
            p                   { font-size: 20px; padding: 0; margin: 0; opacity: .8; }
            .library            { width: 25px; height:25px; border-radius: 50%; background: #A9CF3C; color: #fff; padding: .25rem;}  
            .lab                { width: 25px; height:25px; border-radius: 50%; background: #8986C0; color: #fff; padding: .25rem;}
            .workshop           { background-color: #27C1F0; width: 25px; height:25px; border-radius: 50%; color: #fff; padding: .25rem;}
        }
    }
    .row-scroll                 { overflow-y: scroll; width: 90%; margin: 0 auto; margin-bottom: 1rem; margin-top: 1rem;
        .project-breaker        { width: 90%; margin-left: 2rem;height: 2px; background-color: @background-dark; border-radius: 5px; margin-bottom: 1rem;}
        .project-row            { width: 95%; display: flex; justify-content: flex-start; align-items: center;         
            &.broad             { flex-direction: column; margin-top: 1rem; margin-left : 2.05rem;  border-left : solid @background-dark 7px; justify-content :space-between !important; box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.4);}
            .content            { width: 75%; margin-left: 2rem;
                
                .json-findings-url  { transition: .25s; border: solid @background-dark 2px; border-radius: 5px; padding: .25rem; color: @background-dark; text-decoration: none; 
                    &:hover     { transition: .25s; background: @background-dark; color: @background-light; }
                }
                &.broad         { width: 95%; }
            }
            .img                { width: 45%; 
                &.broad         { width: 100%; display: flex; justify-content: space-between; align-items: center;
                    .wrapper    { width: 45%; margin-left: 1rem; }
                    img         { max-width: 100%; }
                }
            }
        }
    }
   }

    
}

// Header
.header                         { position: fixed; z-index: 50; top: 0; left: 0; width: 95%; margin-top: 2.25rem; height: 50px; left: 50%; transform: translate(-50%, 0); display: flex;
    justify-content: space-between; align-items: center; padding: 1rem;
    .header-section             { 
        img                     { padding: 0; }
    }
}


.banner                         { height: 100vh;  background-image: url(../src/pattern.svg); background-size: cover;
    .scrollto                   { cursor: pointer; position: absolute; bottom: -40px; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: center; align-items: center;
        img                     { transition: .25s; width: 25%;  
        &:hover                 { transition: .25s; width: 27.5%; }
        }
    }
    .socials                    { position: absolute;  transform: rotate(-270deg); display: flex; top: 50%; right: -70px; 
        a                       { transition: .25s; padding:0; margin-left: 1rem; opacity: 0.5; text-decoration: none; color: @background-dark;
            &:hover             { transition: .25s; opacity: 1.0; }
        }
    }
    .row-banner                 { display: flex; justify-content: space-between; align-items: center; flex-direction: row; 
        .left                   { width: 50%; height: 100vh;  display: flex; justify-content: center; align-items: center; flex-direction: column;
            .wrapper            { width: 65%;
                p, h1               { text-align: left; width: 100%; }
                a                   { transition: .25s; border: solid @background-dark 1px; border-radius: 5px; text-decoration: none; color: @background-dark; padding: .25rem .5rem;
                    &:hover         { transition: .25s;background-color: @background-dark; color: @background-light; }
                }
                .lead               { margin-bottom: 0.25rem; }
                h1                  {}
                .lead-s             { opacity: .8; }
            }

        }
        .right                  { width: 50%; height: 100vh;  display: flex; justify-content: center; align-items: flex-end;
            img                 { width: 100%; margin-left: 3rem; margin-bottom: -2rem; }
        }
    }
    @media only screen and (max-width: 600px){ 
        .row-banner                 { flex-direction: column; 
            .left                   { width: 90%; height: 45vh;
                .wrapper            { justify-content: center; align-items: center;
                    p, a, h1        { text-align: center; } 
                    a               { margin-left: 38%;}
                }
                
            }
            .right                  { width: 95%; height: 45vh; 
                img                 { margin-bottom: -6rem; margin-left: 1rem; }
            }
        }
        .socials                    { transform: rotate(0); top: 49%; right: 50px;
            a                       {  }
        } 
    }
}

.international-project          { height: 75vh; background: @background-light;  color: @background-dark; padding-top: 5rem; padding-bottom: 0;
    &:after                     { content: "INTERNATIONAL"; pointer-events: none; width: 100%; height: 100%; color: @background-dark; position: absolute; top: 55%; left:0; font-size: 290px; opacity: 0.035; text-align: center;}
    &:hover                     { 
        // &:after                 { content: "PROJECT"; }
    }
    .lead-wrapper               { justify-content: space-between; align-items: flex-start; margin: 0 auto; flex-direction: column; padding: 0; margin-bottom: 1rem;
        .lead                   { font-family: 'Cabin', sans-serif !important; font-size: 16px; opacity: 0.8; margin: 0; padding: 0; }
        .title                  { padding: 0; font-size: 62px; max-width: 75%; }
    }
    .double-diamond-wrapper     { display: flex; margin: 0 auto;
        .double-diamond-phase   { width: 25%;
        .phase                  { width: 100%; display: flex; justify-content: flex-start; align-items: center; 
            .accent             { color: #33D98F; border-right: 2px solid #33D98F; padding-right: 1rem; margin-right: 1rem;}
        }
        .content                {
            .lead               { font-size: 18px; opacity: 0.8; }
            ul                  {  list-style-type: none; padding: 0; 
                .deliverable    { transition: .25s; cursor: pointer;
                    &:hover     { transition: .25s; color: #33D98F; }
                 }
            }
        }
    }
        
    }
}

.group-project                  { height: 75vh; background: #33D98F;  color: @background-dark; padding-top: 5rem; padding-bottom: 0;
    &:after                     { content: "GROUP"; pointer-events: none; width: 100%; height: 100%; color: @background-dark; position: absolute; top: 55%; left:0; font-size: 290px; opacity: 0.035; text-align: center;}
    &:hover                     { 
        // &:after                 { content: "PROJECT"; }
    }
    .lead-wrapper               { justify-content: space-between; align-items: flex-start; margin: 0 auto; flex-direction: column; padding: 0; margin-bottom: 1rem;
        .lead                   { font-family: 'Cabin', sans-serif !important; font-size: 16px; opacity: 0.8; margin: 0; padding: 0; }
        .title                  { padding: 0; font-size: 62px; max-width: 75%; }
    }
    .double-diamond-wrapper     { display: flex; margin: 0 auto;
        .double-diamond-phase   { width: 25%;
        .phase                  { width: 100%; display: flex; justify-content: flex-start; align-items: center; 
            .accent             { color: #248FD6; border-right: 2px solid #248FD6; padding-right: 1rem; margin-right: 1rem;}
        }
        .content                {
            .lead               { font-size: 18px; opacity: 0.8; }
            ul                  {  list-style-type: none; padding: 0; 
                .deliverable    { transition: .25s; cursor: pointer;
                    &:hover     { transition: .25s; color: #248FD6; }
                 }
            }
        }
    }
        
    }
}


.individual-project             { height: 75vh; background: black;  color: white; padding-top: 5rem; padding-bottom: 0;
    &:after                     { content: "PORTFOLIO"; z-index: 0; pointer-events: none; width: 100%; height: 100%; color: white; position: absolute; top: -30%; left:0; font-size: 198px; opacity: 0.035; text-align: center;}
    &:hover                     { 
        // &:after                 { content: "PROJECT"; }
    }
    .lead-wrapper               { justify-content: space-between; align-items: flex-start; margin: 0 auto; flex-direction: column; padding: 0; margin-bottom: 1rem;
        .lead                   { font-family: 'Cabin', sans-serif !important; font-size: 16px; opacity: 0.8; margin: 0; padding: 0; }
        .title                  { padding: 0; font-size: 40px; max-width: 75%; }
    }
    .double-diamond-wrapper     { display: flex; margin: 0 auto;
        .double-diamond-phase   { width: 25%;
        .phase                  { width: 100%; display: flex; justify-content: flex-start; align-items: center; 
            .accent             { color: #33D98F; border-right: 2px solid #33D98F; padding-right: 1rem; margin-right: 1rem;}
        }
        .content                {
            .lead               { font-size: 18px; opacity: 0.8; }
            ul                  {  list-style-type: none; padding: 0; 
                .deliverable    { transition: .25s; cursor: pointer;
                    &:hover     { transition: .25s; color: #33D98F; }
                 }
            }
        }
    }
        
    }

}



.contact                        { height: 50vh; background: black; display: flex; justify-content: center; align-items: center;
    .row                        {
        .content                { color: @background-light; display: flex; justify-content: center; align-items: center; flex-direction: column; 
            h2                  { font-size: 74px; }
            p                   { opacity: 0.8; font-size: 20px; }
            .email              { padding: .7rem 0; font-size: 20px;border: solid #33D98F 2px; border-radius: 5px;  text-decoration: none !important; color: #33D98F; width: 25%; text-align: center;
                a               {  }
            }
        }
    }
}
  

.btn-project                    { background: @font-accent; ; }
.switch                         { display: flex;  justify-content: space-between; align-items: center;
    a                           { margin-right: 1rem; color: @font-dark;}
}
.dl-switch                      { display: flex; justify-content: space-between; align-items: center;}

.projects                       { display: flex; justify-content: space-between; align-items: center; flex-direction: column; background-color: orange; margin: 0 auto;
    .filter                     { display: flex; justify-content: space-between; align-items: center;
        div                     { transition: .25s; border: solid @background-dark 2px; border-radius: 5px; padding: 0 .5rem; cursor: pointer;  caret-color: transparent;
            &:hover             { transition: .25s; background-color: @background-dark; color: @font-light; }
        }
    }
    .projects-overview          { display: flex; justify-content: center; align-items: center; background-color: aquamarine;}
    .project                    { border: solid 2px @background-dark;  }
}

input                           { position: relative; margin: 0 10px;width: 34px; height: 20px;border-radius: 25px;background: #999; outline: 0; -webkit-appearance: none; cursor: pointer;}
    input:checked               { background: @font-accent; }
    input:checked::after        { transform: translateX(100%); }
    input::after                { content: ''; position: absolute; top: 2px; left: 2px; display: block; width: calc((100% - 4px) / 2); height: calc(100% - 4px); border-radius: 50%;background: #eee; transition: all .1s linear;}


.invidvidual-project-visual     { margin: 0 auto; background: #000; display: flex; justify-content: space-between; align-items: center; 
    .content                    { display: block; width: 35%;  margin-left: 15rem; color: @background-light;
        h2                      { margin: 0; padding: 0; font-size: 40px; width: 110%; }
        p                       { margin: 0; padding: 0; opacity: 0.8; max-width: 75%; }
        .evidence               { padding: 0 .5rem; border: solid @background-light 2px; border-radius: 5px; width: max-content; cursor: pointer;}
    }
}

.arrows-2{
    scale: 0.6;
	width: 60px;
	height: 72px;
}

.arrows-2 path {
	stroke: @background-dark;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.arrows {
    scale: 0.6;
	width: 60px;
	height: 72px;
	position: absolute;
	left: 17%;
	bottom: 20px;
    top: 87.5%;
}

.arrows path {
	stroke: @background-light;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#app {
        width: 55%;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100000000000;
    }
    
    .slider--container {
        position: relative;
        width: 1000px;
        height: 500px;
        overflow: hidden;
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0%;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                90deg,
                var(--bg) 0%,
                transparent 10%,
                transparent 90%,
                var(--bg) 100%
            );
            pointer-events: none;
        }
    }
    
    .slider__wrapper {
        min-width: 100%;
        min-height: 90%;
        display: grid;
        grid-template-columns: 150px minmax(500px, 1fr) 150px;
        place-items: center;
    }
    
    .slider__btn--container {
        --size: 60px;
        position: relative;
        width: 100%;
        height: var(--size);
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            font-family: "Montserrat";
            width: 50%;
            height: 100%;
            color: @background-light;
            opacity: 0;
        }
    }
    
    .slider {
        min-width: 100%;
        min-height: 100%;
        position: relative;
        overflow: hidden;
    
        .slides__wrapper {
            .slide {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
    
                &__img {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
    
                &.active {
                    display: block;
                }
                &:not(.active) {
                    display: none;
                }
            }
        }
    
        .transition-slide {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            transform: scaleX(0);
        }
    }
    
    .marquee__wrapper {
        position: absolute;
        left: 0%;
        top: 45%;
        transform: translate(-20%, -50%);
        color: #fff;
        mix-blend-mode: difference;
        pointer-events: none;
        user-select: none;
        overflow: hidden;
    
        .marquees {
            .marquee {
                display: flex;
                white-space: nowrap;
                
                .item {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Cabin', sans-serif !important;
                    font-size: 40px;
                    text-transform: uppercase;
                    letter-spacing: 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-align: center;
                    font-weight: 900;
                    animation: line-crawing-animation 6s linear infinite;
    
                    .number {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        padding: 38px 0;
                        margin: 0 40px 0 25px;
                        p { 
                            &:nth-child(1) {
                                font-size: 3.75rem;
                            }
                            &:nth-child(2) {
                                font-size: 2.5rem;
                                margin-top: 13px;
                            }
                        }
                    }
    
                    .letter {
                        transform: translateY(100%);
                        opacity: 0;
                    }
                }
                &.active {
                    display: block;
                }
                &:not(.active) {
                    display: none;
                }
            }
        }
    }
    
    .slider__progress--container {
        width: 35%;
        height: 60px;
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        opacity: 0;
    
        .slide-num {
            color: #fff;
            font-weight: bold;
            font-size: 0.8rem;
            font-family: "Montserrat";
        }
    
        .progress {
            position: relative;
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.25);
            margin: 0 1.2rem;
    
            span {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #fff;
                transform: scaleX(0);
                transform-origin: left center;
            }
        }
    }
    
    .slider__btn--container{
        button {
            background: none;
            outline: none;
            border: none;
        }
    }
    
    .loading__wrapper {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        z-index: 200;
        .loader--text {
            color: #fff;
            font-family: "Montserrat";
            font-weight: 900;
            margin-bottom: 1.4rem;
        }
        .loader {
            position: relative;
            width: 200px;
            height: 2px;
            background: rgba(255, 255, 255, 0.25);
            span {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgb(255, 0, 0);
                transform: scaleX(0);
                transform-origin: left;
            }
        }
    }
    
    @keyframes line-crawing-animation {
        0% {
            transform: translateZ(0);
        }
        to {
            transform: translate3d(-100%, 0, 0);
        }
    }
    
    
    .support{
        position: absolute;
        right: 10px;
        bottom: 10px;
        padding: 10px;
        display: flex;
        a{
            margin: 0 10px;
            color: #eee;
            font-size: 1.8rem;
            backface-visibility: hidden;
            transition: all 150ms ease;
        }
    
    }